.about-us-header-container {
    grid-column: 1 / -1;
    display: grid;

    .about-us-header {
        justify-self: center;
        width: 80%;

        &-heading {
            text-align: center;
        }
    }
}

.about-us-quote-container {
    @include row;

    .about-us-quote {
        @include rowinset(70%);

        &-text {
            text-align: center;
        }
    }
}

.about-us-1-title-container {
    @include row;

    .about-us-1-title {
        @include rowinset(80%);

        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 1fr 1.5fr 1fr;

        &-heading {
            grid-column: 2 / 3;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.about-us-1-container {
    @include row;

    .about-us-1 {
        @include rowinset(80%);

        display: grid;
        grid-template-columns: 1fr 3fr;

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }

        &-info {
            justify-self: center;
            align-self: center;
            line-height: 2.2rem;
        }
    }
}

.about-us-2-title-container {
    @include row;

    .about-us-2-title {
        @include rowinset(80%);

        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 1fr 1.5fr 1fr;

        &-heading {
            grid-column: 2 / 3;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.about-us-2-container {
    @include row;

    .about-us-2 {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 3fr 1fr;

        &-info {
            justify-self: center;
            align-self: center;

            &-item {
                line-height: 2.2rem;
            }
        }

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }
    }
}

.about-us-3-title-container {
    @include row;

    .about-us-3-title {
        @include rowinset(80%);
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 1fr 1.5fr 1fr;

        &-heading {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.about-us-3-container {
    @include row;

    .about-us-3 {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 3fr;

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }

        &-info {
            justify-self: center;
            align-self: center;

            &-item {
                line-height: 2.2rem;
            }
        }
    }
}
