.admin-header {
    grid-column: 1 / -1;
    display: flex;
    height: 20rem;
    justify-content: center;

    &-title {
        text-align: center;
    }
}

.admin-nav {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;

    &-item {
        list-style: none;

        &-link {
            text-decoration: none;
            margin-right: 2rem;

            &:hover {
                color: $grey2;
            }

            &:active,
            &:visited {
                color: inherit;
            }
        }
    }
}

.messages-container {
    grid-column: 1 / -1;
    display: grid;

    .messages {
        justify-self: center;
    }
}

.admin-container {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.admin-news,
.admin-careers,
.admin-offers,
.admin-recipes {
    width: 60rem;
    overflow: scroll;
    max-height: 30rem;
    border: 2px solid $primary;
    padding: 0rem 2rem;

    &-heading {
        text-align: center;
    }
}

.admin-news,
.admin-careers,
.admin-offers,
.admin-recipes {
    table {
        width: 100%;
        thead {
            font-weight: bold;
        }

        tr {
            height: 3rem;
        }

        tr:nth-child(even) {
            background: $grey2;
        }
    }
}

.admin-create-btn {
    text-align: center;
    justify-self: center;
    text-decoration: none;
    background: $primary;
    color: $grey1;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;

    &:hover {
        background: $secondary;
        // color: $primary;
    }
}

.admin-delete-btn {
    color: $grey1;
    padding: 0.2rem 0.75rem;
    border-radius: 5px;
    background: red;
}

// Careers Page

.createcareer-title-container {
    @include row;

    .createcareer-title {
        @include rowinset(80%);
        display: grid;

        &-item {
            justify-self: center;
            text-align: center;
        }
    }
}

.createcareer-container {
    @include row;

    .careerform {
        @include rowinset(60%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;

        &-group {
            label {
                display: block;
                height: 3rem;
                margin-top: 1rem;
            }

            input {
                width: 100%;
                height: 3rem;
            }

            textarea {
            }
        }
    }
}

// Offers Page
