*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65%;

    @media (max-width: 1250px) {
        font-size: 62.5%;
    }
    @media (max-width: 1150px) {
        font-size: 60.5%;
    }
    @media (max-width: 1050px) {
        font-size: 58.5%;
    }
    @media (max-width: 950px) {
        font-size: 56.5%;
    }
    @media (max-width: 850px) {
        font-size: 55.5%;
    }
    @media (max-width: 750px) {
        font-size: 53.5%;
    }
    @media (max-width: 650px) {
        font-size: 51.5%;
    }
    @media (max-width: 550px) {
        font-size: 49.5%;
    }
    @media (max-width: 450px) {
        font-size: 47.5%;
    }
    @media (max-width: 350px) {
        font-size: 45.5%;
    }

    @media (min-width: 1500px) {
        font-size: 75%;
    }
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: $grey6;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

// Margins

.my-s {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-m {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-l {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-xl {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mt-s {
    margin-top: 1rem;
}
.mt-m {
    margin-top: 2rem;
}

.mb-s {
    margin-bottom: 1rem;
}
// Padding

.py-s {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-m {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-s {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-m {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-l {
    padding-left: 4rem;
    padding-right: 4rem;
}

//Font Sizes

.fs-xs {
    font-size: 1.3rem;
}

.fs-s {
    font-size: 1.5rem;
}

.fs-sm {
    font-size: 1.7rem;
}

.fs-m {
    font-size: 2rem;
}

.fs-ml {
    font-size: 2.5rem;
}

.fs-l {
    font-size: 3rem;
}

.fs-xl {
    font-size: 4rem;
}

// colors

.c-p {
    color: $primary;
}

.c-g1 {
    color: $grey1;
}
// Backgrounds

.bg-p {
    background: $primary;
}

.bg-s {
    background: $secondary;
}

.bg-g1 {
    background: $grey1;
}

.bg-g2 {
    background: $grey2;
}
.bg-g3 {
    background: $grey3;
}

// FONT WEIGHT

.fw-b {
    font-weight: bold;
}

// mixins
@mixin row {
    grid-column: 1 / -1;
    display: grid;
}

@mixin rowinset($width) {
    justify-self: center;
    width: $width;
}
