.careers-header-container {
    grid-column: 1 / -1;
    display: grid;

    .careers-header {
        @include rowinset(80%);

        display: grid;

        &-heading {
            text-align: center;
        }
    }
}

.careers-title-container {
    @include row;

    .careers-title {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.careers-container {
    @include row;

    .careers {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;

        &-item {
            justify-self: center;
            border: 3px solid $primary;
            width: 35rem;

            &-heading {
                margin-bottom: 2rem;
                margin-left: 1rem;
            }

            &-info {
                display: flex;

                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 1rem;
                margin-left: 1rem;

                &-text {
                    align-self: center;
                }

                &-btn {
                }
            }
        }
    }
}

.careersitem-container {
    @include row;

    .careersitem-description {
        @include rowinset(60%);
        display: grid;

        &-title {
            justify-self: center;
            text-align: center;
        }

        &-output {
            height: auto;
            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 2rem;
            }

            p {
                margin: 1rem 2rem;
            }

            ul,
            ol {
                li {
                    margin: 1rem 2rem;
                }
            }
        }
    }
}
