.careers-header-container {
    grid-column: 1 / -1;
    display: grid;

    .careers-header {
        @include rowinset(80%);

        display: grid;

        &-heading {
            text-align: center;
        }
    }
}

.careers-title-container {
    @include row;

    .careers-title {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.careers-container {
    @include row;

    .careers {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1fr;

        &-item {
            justify-self: center;
            border: 3px solid $primary;
            width: 35rem;

            &-heading {
                margin-bottom: 2rem;
                margin-left: 1rem;
            }

            &-info {
                margin-bottom: 1rem;
                margin-left: 1rem;
            }
        }
    }
}
