// Buttons

.btn {
    text-align: center;
    justify-self: center;
    text-decoration: none;
    background: $primary;
    color: $grey1;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;

    &:hover {
        background: $secondary;
        cursor: pointer;
        // color: $primary;
    }
}

// Form

.form-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.form {
    width: 80%;
}

.form-group {
    margin: 1rem 1rem;
}

.form-group label {
    display: block;
    /*   height: 3em; */
    margin: 1rem 1rem;
}

.form-group input {
    display: block;
    width: 70%;
    height: 2.5rem;
    margin: 1rem 1rem;
}

.form-group textarea {
    display: block;
    width: 70%;
    margin: 1rem 1rem;
}

.form-group button {
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    font-size: 1.3rem;
}
