.contact-title-container {
    grid-column: 1 / -1;
    background: $grey1;
    display: grid;

    .contact-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 80%;

        &-heading {
            font-size: 4rem;
            text-align: center;
        }
    }
}

.contact-container {
    grid-column: 1 / -1;
    background: $grey1;
    display: grid;

    .contact {
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: 1fr 1fr;

        &-phone {
            grid-column: 1 / -1;
            justify-self: center;
            margin-top: 1rem;
            margin-bottom: 2rem;

            i {
                font-size: 4rem;
                margin-right: 2rem;
                color: $primary;
            }

            p {
                font-size: 2rem;
            }
        }

        &-email {
            justify-self: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            &-heading {
                margin-bottom: 2rem;
                text-align: center;
            }

            &-info {
                text-align: center;

                i {
                    margin-right: 1rem;
                    color: $primary;
                }
            }
        }

        &-team {
            justify-self: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 3fr;

            &-img {
                justify-self: end;
                margin-right: -2rem;
                img {
                    border-radius: 50%;
                }
            }

            &-info {
                align-self: center;
                justify-self: start;
                margin-left: 5rem;

                &-heading {
                    color: $primary;
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 1rem;

                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
