.footer-conatiner {
    grid-column: 1 / -1;
    display: grid;

    .footer {
        justify-self: center;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 20rem;

        // grid-template-columns: repeat(3, 1fr);
    }
}
