.footer-conatiner {
    grid-column: 1 / -1;
    display: grid;

    .footer {
        justify-self: center;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        // grid-template-columns: repeat(3, 1fr);

        &-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5rem;

            &-heading {
                grid-column: 1 / -1;
                justify-self: center;
            }

            &-left,
            &-right {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            &-link {
                text-decoration: none;
                color: $grey1;

                &:hover {
                    color: $grey3;
                }
            }
        }

        &-contact {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-header {
                text-align: center;
            }
        }

        &-connect {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &-link {
                &:hover {
                    color: $grey3;
                }
            }
        }
    }
}
