.footer-conatiner {
    grid-column: 1 / -1;
    display: grid;

    .footer {
        justify-self: center;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 20rem;

        // grid-template-columns: repeat(3, 1fr);

        &-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;

            &-heading {
                grid-column: 1 / -1;
            }

            &-left,
            &-right {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            &-link {
                text-decoration: none;
                color: $grey1;

                &:hover {
                    color: $grey3;
                }
            }
        }

        &-contact,
        &-connect {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
