.welcome-container {
    grid-column: 1 / -1;
    background: $primary;
    display: grid;

    .welcome {
        // margin-top: 2rem;
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-rows: 1fr 1fr;

        &-heading {
            justify-self: center;
            align-self: center;
            color: $grey1;

            // span {
            //     color: $primary;
            //     border-bottom: 2px solid $primary;
            // }
        }

        &-subheading {
            justify-self: center;
            align-self: center;
            color: $grey1;
        }

        &-info {
            margin-top: 2rem;
            margin-bottom: 2rem;
            justify-self: center;
            align-self: center;
            color: $secondary;
            font-size: 2rem;

            &-2 {
                margin-bottom: 0rem;
            }
        }
    }
}

.products-quote-container {
    @include row;

    .products-quote {
        @include rowinset(80%);
        margin-bottom: 7rem;

        &-text {
            text-align: center;
        }
    }
}

.products-title {
    @include row();
    grid-template-columns: repeat(3, 1fr);

    &-item {
        grid-column: 2 / 3;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
    }
}

.products-container {
    @include row;

    .products {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;

        &-item {
            display: grid;
            &-title {
                justify-self: center;
                text-align: center;
                width: 35rem;
                height: 5rem;
                padding-top: 0.5rem;
                border-radius: 20px 20px 0px 0px;
            }

            &-img {
                justify-self: center;

                img {
                    object-fit: cover;
                    height: 20rem;
                    width: 35rem;
                }
            }
        }
    }
}
