.offers-banner-container {
    @include row;

    .offers-banner {
        @include rowinset(80%);
        display: grid;

        &-item {
            justify-self: center;
            text-align: center;
        }
    }
}
.latest-offer-container {
    @include row;
    // background: url("/images/background.png");
    // background-repeat: repeat;

    .latest-offer {
        margin-top: 2rem;
        @include rowinset(80%);
        display: grid;

        &-title {
            justify-self: center;
            align-self: center;
            font-weight: bold;
        }

        &-card {
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 3px solid $primary;

            &-left {
                grid-column: 1 / 2;
                width: 30rem;
                display: flex;
                justify-content: flex-start;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 30rem;
                }
            }

            &-right {
                grid-column: 2 / 3;
                width: 30rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-details {
                    overflow: scroll;
                }
            }

            &-bottom {
                grid-column: 1 / 3;
                margin-top: -1rem;

                &-item {
                    text-align: center;
                }
            }
        }
    }
}

.offers-title-container {
    @include row;

    .offers-title {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            grid-column: 2 / 3;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.offers-container {
    @include row;

    .offers {
        @include rowinset(80%);

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .offers-card {
            display: flex;
            flex-direction: column;
            width: 30rem;
            border: 3px solid $primary;
            margin-right: 2rem;

            &-img {
                justify-self: center;
                align-self: center;

                img {
                    object-fit: cover;
                    width: auto;
                    height: 100%;
                }
            }

            &-detail {
                &-item {
                    height: 100%;
                }
            }

            &-title {
                margin-top: -0.5rem;
            }
        }
    }
}
