.products-header-container {
    grid-column: 1 / -1;

    display: grid;

    .products-header {
        justify-self: center;
        width: 80%;

        display: grid;

        &-heading {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            justify-self: center;
            text-align: center;
        }
    }
}

.products-info-container {
    grid-column: 1 / -1;
    display: grid;

    .products-info {
        justify-self: center;
        width: 80%;
        display: grid;

        &-headline {
            margin-bottom: 2rem;
            justify-self: center;
            text-align: center;
            font-size: 3rem;
            color: $primary;
        }

        &-item {
            justify-self: center;
            text-align: center;
        }
    }
}

.image-gallery-title-container {
    @include row;

    .image-gallery-title {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.image-gallery-container {
    grid-column: 1 / -1;
    display: grid;

    .image-gallery {
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

        // grid-column-gap: 0.5rem;
        grid-row-gap: 1.5rem;

        img {
            object-fit: cover;
            width: 25rem;
            height: 20rem;
        }
    }
}
