.quality-heading-container {
    grid-column: 1 / -1;
    display: grid;

    .quality-heading {
        margin-top: 2rem;
        justify-self: center;
        width: 80%;
        display: grid;

        &-heading {
            justify-self: center;
            text-align: center;

            span {
                border-bottom: 4px solid $grey1;
            }
        }
    }
}

.quality-quote-container {
    @include row;

    .quality-quote {
        @include rowinset(80%);
        display: grid;

        &-item {
            justify-self: center;
            text-align: center;
        }
    }
}

.quality-title-container {
    @include row;

    .quality-title {
        @include rowinset(80%);
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            grid-column: 2 / 3;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.quality-container {
    @include row;

    .quality {
        @include rowinset(80%);
        display: grid;

        &-item {
            i {
                margin-right: 2rem;
                font-size: 3rem;
            }
        }
    }
}

.quality-container-2 {
    @include row;

    .quality-2 {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-item {
            justify-self: center;

            .quality-card {
                display: grid;
                grid-template-columns: 3.5rem 45rem;
                border: 3px solid $primary;

                &-left {
                    height: 30rem;
                    display: grid;
                    grid-template-rows: 20rem 10rem;

                    &-heading {
                        position: relative;

                        h3 {
                            position: absolute;
                            top: 8rem;
                            left: -3.9rem;
                            transform: rotate(-90deg);
                        }
                    }

                    &-heading-2 {
                        position: relative;

                        h3 {
                            position: absolute;
                            top: 8rem;
                            left: -4.9rem;
                            transform: rotate(-90deg);
                        }
                    }

                    &-base {
                        display: grid;

                        i {
                            justify-self: center;
                            align-self: center;
                            font-size: 3rem;
                        }
                    }
                }

                &-right {
                    &-header {
                        display: grid;
                        position: relative;

                        i {
                            margin-top: 1rem;
                            justify-self: center;
                            font-size: 7rem;
                            opacity: 0.3;
                        }

                        &-heading {
                            position: absolute;
                            justify-self: center;
                            transform: translateY(4rem);
                            // top: 6rem;
                            // left: 6rem;
                            z-index: 5;
                        }

                        &-info {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

.accreditation-container {
    @include row;

    .accreditation {
        @include rowinset(80%);

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        img {
            object-fit: cover;
            height: 30rem;
            width: 30rem;
        }
    }
}
