.quality-heading-container {
    grid-column: 1 / -1;
    display: grid;
    background: $grey1;

    .quality-heading {
        margin-top: 2rem;
        justify-self: center;
        width: 80%;
        display: grid;

        &-heading {
            margin-top: 2rem;
            margin-bottom: 2rem;
            justify-self: center;
            text-align: center;

            span {
                color: $primary;
                border-bottom: 4px solid $primary;
            }
        }
    }
}

.logos-container {
    grid-column: 1 / -1;
    display: grid;
    background: $grey1;

    .logos {
        margin-top: 4rem;
        margin-bottom: 4rem;
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &-item {
            justify-self: center;
        }
    }
}

.quality-info-container {
    grid-column: 1 / -1;
    display: grid;
    background: $grey2;

    .quality-info {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 80%;

        &-heading {
            margin-top: 2rem;
            margin-bottom: 3rem;
            text-align: center;
            text-justify: newspaper;
        }

        &-details {
            padding: 1rem 3rem;

            &-item {
                margin-bottom: 1.5rem;

                i {
                    margin-right: 2rem;
                }
            }
        }
    }
}

.quality-trace-container {
    grid-column: 1 / -1;
    background: $secondary;
    display: grid;

    .quality-trace {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;

        &-item {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 0rem 2rem;
            box-shadow: $box-shadow;
            background: linear-gradient(to top right, $grey1, 50%, $grey3);
            display: grid;
            border: 6px solid $primary;

            &-heading {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 3rem;
                color: $primary;
                text-align: center;
            }

            i {
                justify-self: center;
                font-size: 8rem;
                color: $primary;
                margin-bottom: 2rem;
            }

            &-info {
                justify-self: center;

                p {
                    margin-bottom: 2rem;
                    padding: 0rem 2rem;
                }
            }
        }
    }
}
