.recipes-banner-container {
    @include row;

    .recipes-banner {
        @include rowinset(80%);

        display: grid;

        &-item {
            justify-self: center;
            text-align: center;
        }
    }
}

.latest-recipe-title-container {
    @include row;

    .latest-recipe-title {
        @include rowinset(80%);
        display: grid;
        // grid-template-columns: 1fr 1.5fr 1fr;
        &-item {
            text-align: center;
            // grid-column: 2 / 3;
            // border-radius: 20px 20px 0px 0px;
        }
    }
}

.latest-recipe-container {
    @include row;

    .latest-recipe {
        @include rowinset(80%);

        display: flex;
        justify-content: center;

        &-card {
            width: 70rem;
            height: 30rem;
            // height: 30rem;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &-left {
                grid-column: 1 / 2;
                width: 100%;
                // width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 3px solid $primary;

                &-title {
                }

                &-output {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5 {
                        margin: 0rem 1rem;
                    }

                    ul li {
                        margin: 0rem 1rem;
                    }
                    p {
                        margin: 0rem 1rem;
                    }
                }

                &-bottom {
                    background: $primary;
                    padding: 1rem;

                    &-cta {
                        color: $grey1;
                        text-decoration: none;
                        padding: 1.5rem 1rem;
                    }
                }
            }

            &-right {
                grid-column: 2 / 3;
                width: 100%;
                border: 3px solid $primary;
                // height: 100%;
                // width: 100%;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            // &-bottom {
            //     grid-column: 1 / -1;

            //     // height: 4rem;
            //     display: flex;
            //     flex-direction: row;
            //     align-content: center;
            //     justify-content: center;
            //     &-cta {
            //         margin-top: 1rem;
            //         margin-bottom: 1rem;
            //         text-decoration: none;
            //         background: $primary;
            //         color: $grey1;
            //         padding: 0.5rem 1.5rem;
            //         border-radius: 5px;

            //         &:hover {
            //             background: $secondary;
            //             // color: $primary;
            //         }
            //     }
            // }
        }
    }
}

.recipes-title-container {
    @include row;

    .recipes-title {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.recipes-container {
    @include row;

    .recipes {
        @include rowinset(80%);

        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // flex-wrap: wrap;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));

        &-card {
            margin-right: 2rem;
            // width: 30rem;
            display: flex;
            flex-direction: column;
            border: 3px solid $primary;

            &-top {
                height: 15rem;
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

            &-bottom {
                height: 15rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-output {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5 {
                        margin: 0rem 1rem;
                    }

                    ul li {
                        margin: 0rem 1rem;
                    }
                    p {
                        margin: 0rem 1rem;
                    }
                }
            }

            &-cta {
                height: 3rem;
                background: $primary;
                display: flex;
                align-items: center;

                &-link {
                    text-decoration: none;
                    color: $grey1;
                    padding: 0rem 1rem;
                }
            }
        }
    }
}

// Recipe Item Page

.recipeitem-container {
    @include row;

    .recipeitem {
        @include rowinset(60%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid $primary;

        &-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-img {
            height: 30rem;

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }

        &-detail {
            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 1rem 1rem;
                padding: 1rem 1rem;
            }

            ul li {
                margin: 1rem 1rem;
            }
            p {
                margin: 1rem 1rem;
            }
        }

        .btn {
            justify-self: flex-start;
        }
    }
}
