.retail-title-container {
    grid-column: 1 / -1;
    display: grid;

    .retail-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 80%;

        display: grid;

        &-heading {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            font-size: 4rem;
            color: $grey1;
        }
    }
}

.retail-quote-container {
    @include row;

    .retail-quote {
        @include rowinset(80%);
        display: grid;

        &-item {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            text-align: center;
        }
    }
}

.retail-header-container {
    @include row;

    .retail-header {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.retail-container {
    @include row;

    .retail {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 3fr;

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }

        &-info {
            justify-self: center;
            align-self: center;
        }
    }

    .retail-2 {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 3fr 1fr;

        &-info {
            justify-self: center;
            align-self: center;
        }

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }
    }
}

.retail-header-container-2 {
    @include row;

    .retail-header-2 {
        @include rowinset(80%);
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            text-align: center;
            grid-column: 2 / 3;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.retail-details-2-container {
    grid-column: 1 / -1;
    display: grid;

    .retail-details-2 {
        // margin-top: 2rem;
        // margin-bottom: 2rem;
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: 3fr 1fr;

        &-info {
            justify-self: center;
            align-self: center;

            &-item {
                padding: 2rem 4rem;
            }
        }

        &-img {
            justify-self: center;
            align-self: center;

            img {
                object-fit: cover;
                height: 30rem;
                width: 40rem;
                box-shadow: $box-shadow;
            }
        }
    }
}
