.wholesale-title-container {
    grid-column: 1 / -1;
    display: grid;

    .wholesale-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-self: center;
        width: 80%;
        display: grid;

        &-heading {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            justify-self: center;
            font-size: 4rem;
            text-align: center;
        }
    }
}

.wholesale-quote-container {
    @include row;

    .wholesale-quote {
        @include rowinset(80%);
        display: grid;

        &-item {
            font-size: 2.5rem;
            text-align: center;

            &-link {
                text-decoration: none;
                color: $grey6;
                text-decoration: underline;

                &:hover {
                    color: $primary;
                }
            }

        }
    }
}

.wholesale-banner-container {
    grid-column: 1 / -1;
    display: grid;
    // background: $grey1;

    .wholesale-banner {
        margin-top: 4rem;
        margin-bottom: 8rem;
        justify-self: center;
        width: 80%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &-img {
            img {
                width: 35rem;
                height: 25rem;
            }
        }
    }
}

.wholesale-info-title-container {
    @include row;

    .wholesale-info-title {
        @include rowinset(80%);
        display: grid;

        grid-template-columns: 1fr 1.5fr 1fr;

        &-item {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            grid-column: 2 / 3;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.wholesale-info-container {
    grid-column: 1 / -1;
    display: grid;

    .wholesale-info {
        // margin-top: 2rem;
        // margin-bottom: 2rem;
        justify-self: center;
        width: 70%;

        display: grid;

        &-item {
            margin-top: 1rem;
            margin-bottom: 1rem;
            // font-size: 1.7rem;
            padding: 0rem 1rem;
        }
    }
}
