@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 45.5%;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #2f4f4f;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

.btn {
  color: #f8f8f8;
  background-color: #00b279;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn:hover {
  background-color: #d3d3d3;
  color: #00b279;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.main-header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
}

.topheader {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.topheader-slogan {
  grid-column: 1/2;
  display: grid;
}

.topheader-slogan-title {
  margin-top: 1rem;
  font-size: 3rem;
  color: #76232f;
  justify-self: center;
}

.topheader-slogan-tag {
  justify-self: center;
  font-size: 2rem;
  color: #76232f;
  margin-top: 1rem;
}

.topheader .topheadernav {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topheader .topheadernav-item {
  list-style: none;
}

.topheader .topheadernav-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2f4f4f;
}

.topheader .topheadernav-item-link:visited {
  color: inherit;
}

.topheader .topheadernav-item-link:hover {
  color: #76232f;
}

.midheader {
  grid-column: 2/4;
  display: grid;
}

.midheader .midheadernav {
  margin: 0rem 10rem;
  display: flex;
  justify-content: space-evenly;
}

.midheader .midheadernav-item {
  list-style: none;
  background: #76232f;
  color: #f8f8f8;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  z-index: 0;
}

.midheader .midheadernav-item:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.midheader .midheadernav-item-link {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 2rem 2rem;
  color: #f8f8f8;
}

.midheader .midheadernav-item-link:visited {
  color: inherit;
}

.bottomheader {
  grid-column: 2/4;
  height: 35rem;
  background: #f8f8f8;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottomheader-img {
  justify-self: center;
  align-self: center;
}

.sidelogo-container {
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
}

.sidelogo-container .sidelogo {
  justify-self: center;
  padding-left: 0rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.sidelogo-container .sidelogo-1 {
  background: #76232f;
  position: relative;
}

.sidelogo-container .sidelogo-1-heading {
  position: absolute;
  top: 11rem;
  color: #f8f8f8;
  font-size: 3.5rem;
  width: 26rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -10rem;
  letter-spacing: 8px;
}

.sidelogo-container .sidelogo-2 {
  background: #4b4f54;
}

.welcome-container {
  grid-column: 1/-1;
  background: #f8f8f8;
  display: grid;
}

.welcome-container .welcome {
  margin-top: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
}

.welcome-container .welcome-heading {
  justify-self: center;
  align-self: center;
  color: #4b4f54;
}

.welcome-container .welcome-heading span {
  color: #76232f;
  border-bottom: 2px solid #76232f;
}

.welcome-container .welcome-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  align-self: center;
  color: #4b4f54;
  font-size: 2rem;
}

.products-container {
  grid-column: 1/-1;
  background: #f8f8f8;
  display: grid;
}

.products-container .product {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.products-container .product-item {
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 3px solid #76232f;
  background: #e8e8e8;
  display: grid;
}

.products-container .product-item i {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #76232f;
  justify-self: center;
}

.products-container .product-item-name {
  font-size: 3rem;
  text-align: center;
}

.footer-conatiner {
  grid-column: 1/-1;
  background: #76232f;
  display: grid;
}

.footer-conatiner .footer {
  justify-self: center;
  width: 90%;
  display: grid;
  height: 20rem;
  grid-template-columns: repeat(3, 1fr);
}

