@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 45.5%;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #2f4f4f;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

.my-s {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-m {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-l {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-xl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-m {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-l {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 2rem;
}

.mt-l {
  margin-top: 4rem;
}

.mb-s {
  margin-bottom: 1rem;
}

.py-s {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-l {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-s {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-m {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-l {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pt-l {
  padding-top: 4rem;
}

.fs-xs {
  font-size: 1.3rem;
}

.fs-s {
  font-size: 1.5rem;
}

.fs-sm {
  font-size: 1.7rem;
}

.fs-m {
  font-size: 2rem;
}

.fs-ml {
  font-size: 2.5rem;
}

.fs-l {
  font-size: 3rem;
}

.fs-xl {
  font-size: 4rem;
}

.c-p {
  color: #76232f;
}

.c-g1 {
  color: #f8f8f8;
}

.bg-p {
  background: #76232f;
}

.bg-s {
  background: #4b4f54;
}

.bg-g1 {
  background: #f8f8f8;
}

.bg-g2 {
  background: #e8e8e8;
}

.bg-g3 {
  background: #d3d3d3;
}

.fw-b {
  font-weight: bold;
}

.bgi-g1 {
  background: url("/images/g1.png");
  background-repeat: repeat;
}

.bgi-g2 {
  background: url("/images/g2.png");
  background-repeat: repeat;
}

.bgi-g3 {
  background: url("/images/g3.png");
  background-repeat: repeat;
}

.bgi-g4 {
  background: url("/images/g4.png");
  background-repeat: repeat;
}

.bgi-g5 {
  background: url("/images/g5.png");
  background-repeat: repeat;
}

.bgi-g6 {
  background: url("/images/g6.png");
  background-repeat: repeat;
}

.bgi-s {
  background: url("/images/s.png");
  background-repeat: repeat;
}

.bgi-p {
  background: url("/images/p.png");
  background-repeat: repeat;
}

.btn {
  text-align: center;
  justify-self: center;
  text-decoration: none;
  background: #76232f;
  color: #f8f8f8;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

.btn:hover {
  background: #4b4f54;
  cursor: pointer;
}

.form-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
}

.form-group {
  margin: 1rem 1rem;
}

.form-group label {
  display: block;
  /*   height: 3em; */
  margin: 1rem 1rem;
}

.form-group input {
  display: block;
  width: 70%;
  height: 2.5rem;
  margin: 1rem 1rem;
}

.form-group textarea {
  display: block;
  width: 70%;
  margin: 1rem 1rem;
}

.form-group button {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.main-header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
}

.topheader {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.topheader-slogan {
  grid-column: 1/2;
  display: grid;
  color: #f8f8f8;
}

.topheader-slogan-title {
  margin-top: 1rem;
  font-size: 3rem;
  justify-self: center;
}

.topheader-slogan-tag {
  justify-self: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.topheader .topheadernav {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topheader .topheadernav-item {
  list-style: none;
}

.topheader .topheadernav-item-link {
  text-decoration: none;
  text-transform: uppercase;
}

.topheader .topheadernav-item-link:visited {
  color: inherit;
}

.topheader .topheadernav-item-link:hover {
  color: #b8b8b8;
}

.midheader {
  grid-column: 2/4;
  display: grid;
}

.midheader .midheadernav {
  margin: 0rem 10rem;
  display: flex;
  justify-content: space-evenly;
}

.midheader .midheadernav-item {
  list-style: none;
  background: #76232f;
  color: #f8f8f8;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}

.midheader .midheadernav-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.midheader .midheadernav-item-link {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.2rem 2rem;
  color: #f8f8f8;
}

.midheader .midheadernav-item-link:visited {
  color: inherit;
}

.bottomheader {
  margin-top: -5px;
  grid-column: 2/4;
  height: 29rem;
  background: white;
  z-index: 2;
  overflow: hidden;
  display: grid;
}

.bottomheader .bottomheader-img-container {
  padding-right: 2rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 950px) {
  .bottomheader .bottomheader-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .bottomheader .bottomheader-img-container .bottomheader-img-3 {
    display: none;
  }
}

.bottomheader .bottomheader-img-container .bottomheader-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  align-self: center;
}

.bottomheader .bottomheader-img-container .bottomheader-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25rem;
  width: 100%;
}

.sidelogo-container {
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
}

.sidelogo-container .sidelogo {
  justify-self: center;
  padding-left: 0rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.sidelogo-container .sidelogo-1 {
  background: #76232f;
  position: relative;
}

.sidelogo-container .sidelogo-1-heading {
  position: absolute;
  top: 11rem;
  color: #f8f8f8;
  font-size: 3.5rem;
  width: 26rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -10rem;
  letter-spacing: 8px;
}

.sidelogo-container .sidelogo-2 {
  background: #4b4f54;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome-container {
  grid-column: 1/-1;
  display: grid;
}

.welcome-container .welcome {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.welcome-container .welcome-heading {
  justify-self: center;
  align-self: center;
  color: #f8f8f8;
}

.welcome-container .welcome-subheading {
  justify-self: center;
  align-self: center;
  color: #f8f8f8;
}

.welcome-container .welcome-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  align-self: center;
  color: #4b4f54;
  font-size: 2rem;
}

.welcome-container .welcome-info-2 {
  margin-bottom: 0rem;
}

.products-quote-container {
  grid-column: 1/-1;
  display: grid;
}

.products-quote-container .products-quote {
  justify-self: center;
  width: 80%;
  margin-bottom: 7rem;
}

.products-quote-container .products-quote-text {
  text-align: center;
}

.products-title {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.products-title-item {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.products-container {
  grid-column: 1/-1;
  display: grid;
}

.products-container .products {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.products-container .products-item {
  display: grid;
}

.products-container .products-item-title {
  justify-self: center;
  text-align: center;
  width: 35rem;
  height: 5rem;
  padding-top: 0.5rem;
  border-radius: 20px 20px 0px 0px;
}

.products-container .products-item-img {
  justify-self: center;
}

.products-container .products-item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  width: 35rem;
}

.footer-conatiner {
  grid-column: 1/-1;
  display: grid;
}

.footer-conatiner .footer {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-conatiner .footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.footer-conatiner .footer-links-heading {
  grid-column: 1/-1;
}

.footer-conatiner .footer-links-left,
.footer-conatiner .footer-links-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-conatiner .footer-links-link {
  text-decoration: none;
  color: #f8f8f8;
}

.footer-conatiner .footer-links-link:hover {
  color: #d3d3d3;
}

.footer-conatiner .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-conatiner .footer-connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-conatiner .footer-connect-link:hover {
  color: #d3d3d3;
}

.about-us-header-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-header-container .about-us-header {
  justify-self: center;
  width: 80%;
}

.about-us-header-container .about-us-header-heading {
  text-align: center;
}

.about-us-quote-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-quote-container .about-us-quote {
  justify-self: center;
  width: 70%;
}

.about-us-quote-container .about-us-quote-text {
  text-align: center;
}

.about-us-1-title-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-1-title-container .about-us-1-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.about-us-1-title-container .about-us-1-title-heading {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.about-us-1-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-1-container .about-us-1 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.about-us-1-container .about-us-1-img {
  justify-self: center;
  align-self: center;
}

.about-us-1-container .about-us-1-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.about-us-1-container .about-us-1-info {
  justify-self: center;
  align-self: center;
  line-height: 2.2rem;
}

.about-us-2-title-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-2-title-container .about-us-2-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.about-us-2-title-container .about-us-2-title-heading {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.about-us-2-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-2-container .about-us-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.about-us-2-container .about-us-2-info {
  justify-self: center;
  align-self: center;
}

.about-us-2-container .about-us-2-info-item {
  line-height: 2.2rem;
}

.about-us-2-container .about-us-2-img {
  justify-self: center;
  align-self: center;
}

.about-us-2-container .about-us-2-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.about-us-3-title-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-3-title-container .about-us-3-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.about-us-3-title-container .about-us-3-title-heading {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.about-us-3-container {
  grid-column: 1/-1;
  display: grid;
}

.about-us-3-container .about-us-3 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.about-us-3-container .about-us-3-img {
  justify-self: center;
  align-self: center;
}

.about-us-3-container .about-us-3-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.about-us-3-container .about-us-3-info {
  justify-self: center;
  align-self: center;
}

.about-us-3-container .about-us-3-info-item {
  line-height: 2.2rem;
}

.quality-heading-container {
  grid-column: 1/-1;
  display: grid;
}

.quality-heading-container .quality-heading {
  margin-top: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
}

.quality-heading-container .quality-heading-heading {
  justify-self: center;
  text-align: center;
}

.quality-heading-container .quality-heading-heading span {
  border-bottom: 4px solid #f8f8f8;
}

.quality-quote-container {
  grid-column: 1/-1;
  display: grid;
}

.quality-quote-container .quality-quote {
  justify-self: center;
  width: 80%;
  display: grid;
}

.quality-quote-container .quality-quote-item {
  justify-self: center;
  text-align: center;
}

.quality-title-container {
  grid-column: 1/-1;
  display: grid;
}

.quality-title-container .quality-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.quality-title-container .quality-title-item {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.quality-container {
  grid-column: 1/-1;
  display: grid;
}

.quality-container .quality {
  justify-self: center;
  width: 80%;
  display: grid;
}

.quality-container .quality-item i {
  margin-right: 2rem;
  font-size: 3rem;
}

.quality-container-2 {
  grid-column: 1/-1;
  display: grid;
}

.quality-container-2 .quality-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quality-container-2 .quality-2-item {
  justify-self: center;
}

.quality-container-2 .quality-2-item .quality-card {
  display: grid;
  grid-template-columns: 4.5rem 45rem;
  border: 3px solid #76232f;
}

.quality-container-2 .quality-2-item .quality-card-left {
  height: 30rem;
  display: grid;
  grid-template-rows: 20rem 10rem;
}

.quality-container-2 .quality-2-item .quality-card-left-heading {
  position: relative;
}

.quality-container-2 .quality-2-item .quality-card-left-heading h3 {
  position: absolute;
  top: 8rem;
  left: -3.7rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quality-container-2 .quality-2-item .quality-card-left-heading-2 {
  position: relative;
}

.quality-container-2 .quality-2-item .quality-card-left-heading-2 h3 {
  position: absolute;
  top: 8rem;
  left: -4.7rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quality-container-2 .quality-2-item .quality-card-left-base {
  display: grid;
}

.quality-container-2 .quality-2-item .quality-card-left-base i {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.quality-container-2 .quality-2-item .quality-card-right-header {
  display: grid;
  position: relative;
}

.quality-container-2 .quality-2-item .quality-card-right-header i {
  margin-top: 1rem;
  justify-self: center;
  font-size: 7rem;
  opacity: 0.3;
}

.quality-container-2 .quality-2-item .quality-card-right-header-heading {
  position: absolute;
  justify-self: center;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  z-index: 5;
}

.quality-container-2 .quality-2-item .quality-card-right-header-info {
  justify-self: center;
  align-self: center;
}

.accreditation-container {
  grid-column: 1/-1;
  display: grid;
}

.accreditation-container .accreditation {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.accreditation-container .accreditation img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  width: auto;
}

.contact-title-container {
  grid-column: 1/-1;
  display: grid;
}

.contact-title-container .contact-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 80%;
}

.contact-title-container .contact-title-heading {
  text-align: center;
  color: #f8f8f8;
}

.contact-container {
  grid-column: 1/-1;
  display: grid;
}

.contact-container .contact {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-container .contact-phone {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact-container .contact-phone i {
  font-size: 4rem;
  margin-right: 2rem;
  color: #76232f;
}

.contact-container .contact-phone p {
  font-size: 2rem;
}

.contact-container .contact-email {
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-container .contact-email-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.contact-container .contact-email-info {
  text-align: center;
}

.contact-container .contact-email-info i {
  margin-right: 1rem;
  color: #76232f;
}

.contact-container .contact-team {
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.contact-container .contact-team-img {
  justify-self: end;
  margin-right: -2rem;
}

.contact-container .contact-team-img img {
  border-radius: 50%;
  border: 3px solid #76232f;
}

.contact-container .contact-team-info {
  align-self: center;
  justify-self: start;
  margin-left: 5rem;
}

.contact-container .contact-team-info-heading {
  color: #76232f;
  margin-bottom: 1rem;
}

.contact-container .contact-team-info p {
  margin-bottom: 1rem;
}

.contact-container .contact-team-info p i {
  margin-right: 1rem;
}

.wholesale-title-container {
  grid-column: 1/-1;
  display: grid;
}

.wholesale-title-container .wholesale-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
}

.wholesale-title-container .wholesale-title-heading {
  justify-self: center;
  font-size: 4rem;
  text-align: center;
}

.wholesale-quote-container {
  grid-column: 1/-1;
  display: grid;
}

.wholesale-quote-container .wholesale-quote {
  justify-self: center;
  width: 80%;
  display: grid;
}

.wholesale-quote-container .wholesale-quote-item {
  text-align: center;
}

.wholesale-banner-container {
  grid-column: 1/-1;
  display: grid;
}

.wholesale-banner-container .wholesale-banner {
  margin-top: 4rem;
  margin-bottom: 8rem;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wholesale-banner-container .wholesale-banner-img img {
  width: 35rem;
  height: 25rem;
}

.wholesale-info-title-container {
  grid-column: 1/-1;
  display: grid;
}

.wholesale-info-title-container .wholesale-info-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.wholesale-info-title-container .wholesale-info-title-item {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.wholesale-info-container {
  grid-column: 1/-1;
  display: grid;
}

.wholesale-info-container .wholesale-info {
  justify-self: center;
  width: 70%;
  display: grid;
}

.wholesale-info-container .wholesale-info-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}

.retail-title-container {
  grid-column: 1/-1;
  display: grid;
}

.retail-title-container .retail-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
}

.retail-title-container .retail-title-heading {
  text-align: center;
  font-size: 4rem;
  color: #f8f8f8;
}

.retail-quote-container {
  grid-column: 1/-1;
  display: grid;
}

.retail-quote-container .retail-quote {
  justify-self: center;
  width: 80%;
  display: grid;
}

.retail-quote-container .retail-quote-item {
  text-align: center;
}

.retail-header-container {
  grid-column: 1/-1;
  display: grid;
}

.retail-header-container .retail-header {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.retail-header-container .retail-header-item {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.retail-container {
  grid-column: 1/-1;
  display: grid;
}

.retail-container .retail {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.retail-container .retail-img {
  justify-self: center;
  align-self: center;
}

.retail-container .retail-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.retail-container .retail-info {
  justify-self: center;
  align-self: center;
}

.retail-container .retail-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.retail-container .retail-2-info {
  justify-self: center;
  align-self: center;
}

.retail-container .retail-2-img {
  justify-self: center;
  align-self: center;
}

.retail-container .retail-2-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.retail-header-container-2 {
  grid-column: 1/-1;
  display: grid;
}

.retail-header-container-2 .retail-header-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.retail-header-container-2 .retail-header-2-item {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.retail-details-2-container {
  grid-column: 1/-1;
  display: grid;
}

.retail-details-2-container .retail-details-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.retail-details-2-container .retail-details-2-info {
  justify-self: center;
  align-self: center;
}

.retail-details-2-container .retail-details-2-info-item {
  padding: 2rem 4rem;
}

.retail-details-2-container .retail-details-2-img {
  justify-self: center;
  align-self: center;
}

.retail-details-2-container .retail-details-2-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.products-header-container {
  grid-column: 1/-1;
  display: grid;
}

.products-header-container .products-header {
  justify-self: center;
  width: 80%;
  display: grid;
}

.products-header-container .products-header-heading {
  justify-self: center;
  text-align: center;
}

.products-info-container {
  grid-column: 1/-1;
  display: grid;
}

.products-info-container .products-info {
  justify-self: center;
  width: 80%;
  display: grid;
}

.products-info-container .products-info-headline {
  margin-bottom: 2rem;
  justify-self: center;
  text-align: center;
  font-size: 3rem;
  color: #76232f;
}

.products-info-container .products-info-item {
  justify-self: center;
  text-align: center;
}

.image-gallery-title-container {
  grid-column: 1/-1;
  display: grid;
}

.image-gallery-title-container .image-gallery-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.image-gallery-title-container .image-gallery-title-item {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.image-gallery-container {
  grid-column: 1/-1;
  display: grid;
}

.image-gallery-container .image-gallery {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 1.5rem;
}

.image-gallery-container .image-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25rem;
  height: 20rem;
}

.careers-header-container {
  grid-column: 1/-1;
  display: grid;
}

.careers-header-container .careers-header {
  justify-self: center;
  width: 80%;
  display: grid;
}

.careers-header-container .careers-header-heading {
  text-align: center;
}

.careers-title-container {
  grid-column: 1/-1;
  display: grid;
}

.careers-title-container .careers-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.careers-title-container .careers-title-item {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.careers-container {
  grid-column: 1/-1;
  display: grid;
}

.careers-container .careers {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

.careers-container .careers-item {
  justify-self: center;
  border: 3px solid #76232f;
  width: 35rem;
}

.careers-container .careers-item-heading {
  margin-bottom: 2rem;
}

.careers-container .careers-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.careers-container .careers-item-info-text {
  align-self: center;
}

.careersitem-container {
  grid-column: 1/-1;
  display: grid;
}

.careersitem-container .careersitem-description {
  justify-self: center;
  width: 60%;
  display: grid;
}

.careersitem-container .careersitem-description-title {
  justify-self: center;
  text-align: center;
}

.careersitem-container .careersitem-description-output {
  height: auto;
}

.careersitem-container .careersitem-description-output h1,
.careersitem-container .careersitem-description-output h2,
.careersitem-container .careersitem-description-output h3,
.careersitem-container .careersitem-description-output h4,
.careersitem-container .careersitem-description-output h5 {
  margin: 2rem;
}

.careersitem-container .careersitem-description-output p {
  margin: 1rem 2rem;
}

.careersitem-container .careersitem-description-output ul li,
.careersitem-container .careersitem-description-output ol li {
  margin: 1rem 2rem;
}

.careersitem-description {
  border: 3px solid #76232f;
}

.offers-banner-container {
  grid-column: 1/-1;
  display: grid;
}

.offers-banner-container .offers-banner {
  justify-self: center;
  width: 80%;
  display: grid;
}

.offers-banner-container .offers-banner-item {
  justify-self: center;
  text-align: center;
}

.latest-offer-container {
  grid-column: 1/-1;
  display: grid;
}

.latest-offer-container .latest-offer {
  margin-top: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
}

.latest-offer-container .latest-offer-title {
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

.latest-offer-container .latest-offer-card {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #76232f;
}

.latest-offer-container .latest-offer-card-left {
  grid-column: 1/2;
  width: 30rem;
  display: flex;
  justify-content: flex-start;
}

.latest-offer-container .latest-offer-card-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 25rem;
}

.latest-offer-container .latest-offer-card-right {
  grid-column: 2/3;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-offer-container .latest-offer-card-right-details {
  overflow: scroll;
}

.latest-offer-container .latest-offer-card-bottom {
  grid-column: 1/3;
  margin-top: -1rem;
}

.latest-offer-container .latest-offer-card-bottom-item {
  text-align: center;
}

.offers-title-container {
  grid-column: 1/-1;
  display: grid;
}

.offers-title-container .offers-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.offers-title-container .offers-title-item {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.offers-container {
  grid-column: 1/-1;
  display: grid;
}

.offers-container .offers {
  justify-self: center;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.offers-container .offers .offers-card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  border: 3px solid #76232f;
  margin-right: 2rem;
}

.offers-container .offers .offers-card-img {
  justify-self: center;
  align-self: center;
}

.offers-container .offers .offers-card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 25rem;
}

.offers-container .offers .offers-card-detail-item {
  height: 100%;
}

.offers-container .offers .offers-card-title {
  margin-top: -0.5rem;
}

.recipes-banner-container {
  grid-column: 1/-1;
  display: grid;
}

.recipes-banner-container .recipes-banner {
  justify-self: center;
  width: 80%;
  display: grid;
}

.recipes-banner-container .recipes-banner-item {
  justify-self: center;
  text-align: center;
}

.latest-recipe-title-container {
  grid-column: 1/-1;
  display: grid;
}

.latest-recipe-title-container .latest-recipe-title {
  justify-self: center;
  width: 80%;
  display: grid;
}

.latest-recipe-title-container .latest-recipe-title-item {
  text-align: center;
}

.latest-recipe-container {
  grid-column: 1/-1;
  display: grid;
}

.latest-recipe-container .latest-recipe {
  justify-self: center;
  width: 80%;
  display: flex;
  justify-content: center;
}

.latest-recipe-container .latest-recipe-card {
  width: 70rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #76232f;
}

.latest-recipe-container .latest-recipe-card-left {
  grid-column: 1/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid #76232f;
}

.latest-recipe-container .latest-recipe-card-left-output * {
  margin: 0.2rem 1rem;
}

.latest-recipe-container .latest-recipe-card-left-bottom {
  background: #76232f;
  padding: 1rem;
}

.latest-recipe-container .latest-recipe-card-left-bottom-cta {
  color: #f8f8f8;
  text-decoration: none;
  padding: 1.5rem 1rem;
}

.latest-recipe-container .latest-recipe-card-right {
  grid-column: 2/3;
  width: 100%;
}

.latest-recipe-container .latest-recipe-card-right img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.recipes-title-container {
  grid-column: 1/-1;
  display: grid;
}

.recipes-title-container .recipes-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.recipes-title-container .recipes-title-item {
  text-align: center;
  grid-column: 2/3;
  border-radius: 20px 20px 0px 0px;
}

.recipes-container {
  grid-column: 1/-1;
  display: grid;
}

.recipes-container .recipes {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
}

.recipes-container .recipes-card {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  border: 3px solid #76232f;
}

.recipes-container .recipes-card-top {
  height: 15rem;
}

.recipes-container .recipes-card-top img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.recipes-container .recipes-card-bottom {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-container .recipes-card-bottom-output * {
  margin: 0.2rem 1rem;
}

.recipes-container .recipes-card-cta {
  height: 3rem;
  background: #76232f;
  display: flex;
  align-items: center;
}

.recipes-container .recipes-card-cta-link {
  text-decoration: none;
  color: #f8f8f8;
  padding: 0rem 1rem;
}

.recipeitem-container {
  grid-column: 1/-1;
  display: grid;
}

.recipeitem-container .recipeitem {
  justify-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #76232f;
}

.recipeitem-container .recipeitem-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipeitem-container .recipeitem-img {
  height: 30rem;
}

.recipeitem-container .recipeitem-img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.recipeitem-container .recipeitem-detail h1,
.recipeitem-container .recipeitem-detail h2,
.recipeitem-container .recipeitem-detail h3,
.recipeitem-container .recipeitem-detail h4,
.recipeitem-container .recipeitem-detail h5 {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.recipeitem-container .recipeitem-detail ul li {
  margin: 1rem 1rem;
}

.recipeitem-container .recipeitem-detail p {
  margin: 1rem 1rem;
}

.recipeitem-container .recipeitem .btn {
  justify-self: flex-start;
}

.news-banner-container {
  grid-column: 1/-1;
  display: grid;
}

.news-banner-container .news-banner {
  justify-self: center;
  width: 80%;
  display: grid;
}

.news-banner-container .news-banner-item {
  justify-self: center;
  text-align: center;
}

.latest-news-title-container {
  grid-column: 1/-1;
  display: grid;
}

.latest-news-title-container .latest-news-title {
  justify-self: center;
  width: 80%;
  display: grid;
}

.latest-news-title-container .latest-news-title-item {
  justify-self: center;
  text-align: center;
}

.latest-news-container {
  grid-column: 1/-1;
  display: grid;
}

.latest-news-container .latest-news {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.latest-news-container .latest-news-card {
  width: 70rem;
  height: 30rem;
  display: flex;
  flex-direction: row;
  border: 3px solid #76232f;
}

.latest-news-container .latest-news-card-left {
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-news-container .latest-news-card-left-title h1,
.latest-news-container .latest-news-card-left-title h2,
.latest-news-container .latest-news-card-left-title h3,
.latest-news-container .latest-news-card-left-title h4,
.latest-news-container .latest-news-card-left-title h5,
.latest-news-container .latest-news-card-left-info h1,
.latest-news-container .latest-news-card-left-info h2,
.latest-news-container .latest-news-card-left-info h3,
.latest-news-container .latest-news-card-left-info h4,
.latest-news-container .latest-news-card-left-info h5,
.latest-news-container .latest-news-card-left-headline h1,
.latest-news-container .latest-news-card-left-headline h2,
.latest-news-container .latest-news-card-left-headline h3,
.latest-news-container .latest-news-card-left-headline h4,
.latest-news-container .latest-news-card-left-headline h5 {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.latest-news-container .latest-news-card-left-title ul li,
.latest-news-container .latest-news-card-left-info ul li,
.latest-news-container .latest-news-card-left-headline ul li {
  margin: 1rem 1rem;
}

.latest-news-container .latest-news-card-left-title p,
.latest-news-container .latest-news-card-left-info p,
.latest-news-container .latest-news-card-left-headline p {
  margin: 1rem 1rem;
}

.latest-news-container .latest-news-card-left-bottom {
  background: #76232f;
  padding: 1rem;
}

.latest-news-container .latest-news-card-left-bottom-cta {
  color: #f8f8f8;
  text-decoration: none;
  padding: 1.5rem 1rem;
}

.latest-news-container .latest-news-card-right {
  display: flex;
  justify-content: center;
  width: 35rem;
}

.latest-news-container .latest-news-card-right img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.news-title-container {
  grid-column: 1/-1;
  display: grid;
}

.news-title-container .news-title {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.news-title-container .news-title-item {
  grid-column: 2/3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.news-container {
  grid-column: 1/-1;
  display: grid;
}

.news-container .news {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-container .news-card {
  display: flex;
  flex-direction: column;
  width: 40rem;
  border: 3px solid #76232f;
}

.news-container .news-card-top {
  height: 10rem;
}

.news-container .news-card-top img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.news-container .news-card-bottom {
  height: 100%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.news-container .news-card-bottom-info h1,
.news-container .news-card-bottom-info h2,
.news-container .news-card-bottom-info h3,
.news-container .news-card-bottom-info h4,
.news-container .news-card-bottom-info h5 {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.news-container .news-card-bottom-info ul li {
  margin: 1rem 1rem;
}

.news-container .news-card-bottom-info p {
  margin: 1rem 1rem;
}

.news-container .news-card-bottom-cta {
  background: #76232f;
  padding: 1rem;
}

.news-container .news-card-bottom-cta-link {
  color: #f8f8f8;
  text-decoration: none;
  padding: 1.5rem 1rem;
}

.newsitem-container {
  grid-column: 1/-1;
  display: grid;
}

.newsitem-container .newsitem {
  justify-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #76232f;
}

.newsitem-container .newsitem-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newsitem-container .newsitem-img {
  height: 30rem;
}

.newsitem-container .newsitem-img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.newsitem-container .newsitem-detail {
  padding: 2rem;
}

.newsitem-container .newsitem-detail h1,
.newsitem-container .newsitem-detail h2,
.newsitem-container .newsitem-detail h3,
.newsitem-container .newsitem-detail h4,
.newsitem-container .newsitem-detail h5 {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.newsitem-container .newsitem-detail ul li {
  margin: 1rem 1rem;
}

.newsitem-container .newsitem-detail p {
  margin: 1rem 1rem;
}

.newsitem-container .newsitem .btn {
  justify-self: flex-start;
}

.admin-header {
  grid-column: 1/-1;
  display: flex;
  height: 20rem;
  justify-content: center;
}

.admin-header-title {
  text-align: center;
}

.admin-nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-start;
}

.admin-nav-item {
  list-style: none;
}

.admin-nav-item-link {
  text-decoration: none;
  margin-right: 2rem;
}

.admin-nav-item-link:hover {
  color: #e8e8e8;
}

.admin-nav-item-link:active,
.admin-nav-item-link:visited {
  color: inherit;
}

.admin-nav-item-log {
  margin-left: auto;
}

.messages-container {
  grid-column: 1/-1;
  display: grid;
}

.messages-container .messages {
  justify-self: center;
}

.admin-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.admin-news,
.admin-careers,
.admin-offers,
.admin-recipes {
  width: 60rem;
  overflow: scroll;
  max-height: 30rem;
  border: 2px solid #76232f;
  padding: 0rem 2rem;
}

.admin-news-heading,
.admin-careers-heading,
.admin-offers-heading,
.admin-recipes-heading {
  text-align: center;
}

.admin-news table,
.admin-careers table,
.admin-offers table,
.admin-recipes table {
  width: 100%;
}

.admin-news table thead,
.admin-careers table thead,
.admin-offers table thead,
.admin-recipes table thead {
  font-weight: bold;
}

.admin-news table tr,
.admin-careers table tr,
.admin-offers table tr,
.admin-recipes table tr {
  height: 3rem;
}

.admin-news table tr:nth-child(even),
.admin-careers table tr:nth-child(even),
.admin-offers table tr:nth-child(even),
.admin-recipes table tr:nth-child(even) {
  background: #e8e8e8;
}

.admin-create-btn {
  text-align: center;
  justify-self: center;
  text-decoration: none;
  background: #76232f;
  color: #f8f8f8;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

.admin-create-btn:hover {
  background: #4b4f54;
}

.admin-delete-btn {
  color: #f8f8f8;
  padding: 0.2rem 0.75rem;
  border-radius: 5px;
  background: red;
}

.createcareer-title-container {
  grid-column: 1/-1;
  display: grid;
}

.createcareer-title-container .createcareer-title {
  justify-self: center;
  width: 80%;
  display: grid;
}

.createcareer-title-container .createcareer-title-item {
  justify-self: center;
  text-align: center;
}

.createcareer-container {
  grid-column: 1/-1;
  display: grid;
}

.createcareer-container .careerform {
  justify-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.createcareer-container .careerform-group label {
  display: block;
  height: 3rem;
  margin-top: 1rem;
}

.createcareer-container .careerform-group input {
  width: 100%;
  height: 3rem;
}

